<div class="container">
<div class="jumbotron" align="center">
	
<h1>С 8 Марта милая МАРИНОЧКА!!!</h1>
<h2>Мы тебя очень любим!!!</h2>

</div>

<div class="card-deck">
  <div class="card">
  	<%= image_tag("mike", class: "card-img-top")  %>
    <div class="card-body">
      <h3 class="card-title">Твой кот Майк</h3>
      <p class="card-text">Мяу мур мур мяу... Мяу мяу мяу!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">лызь лызь</small>
    </div>
  </div>
  <div class="card">
    <%= image_tag("me", class: "card-img-top")  %>
    <div class="card-body">
      <h3 class="card-title">И Жека</h3>
      <p class="card-text">Ты наше светлое солнышко!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">цем цем</small>
    </div>
  </div>
</div>
<hr>
<div align="center">
	<%= image_tag("us", width: '40%')  %>
</div>

<hr>
<h2 align="center">
	Все права защещены международным женским днем
</h2>


</div>